div {
    color: black;
    background: #2db34a;
    line-height: 200px;
    text-align: center;
    width: 250px;
    height: 200px;
    border-radius: 6px;

    /* Transitions */
    transition-property: color, width, background, border-radius;
    /* transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: .5s; */

    transition: .5s linear .5s;
}

div:hover {
    color: white;
    width: 350px;
    background: #2d31b3;
    border-radius: 50%;
}

div:active {
    color: black;
    width: 150px;
    background: #00ddb3;
}